.dark{
    background: #000;
    color: #fff;
}







.dark .box-services{
    background: #000;
    border: 1px solid #fff;
}

.dark .link_services{
    color: #fff;
}

.dark .modal__container{
    background: #000;
}

.dark .slider{
    background: #000;
}