@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --body-font: 'Poppins', sans-serif;
    --color-primary: #ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    background: #fff;
    font-size: calc(.7em + .7vw);
}

/* ============================================
                    MENU
    ===========================================
*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.responsive{
    display: none;
}


.menu-responsive{
    display: none;
}

.link-menu{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.link-menu-responsive{
    display: none;
}

.menu{
    display: none;
}

#btn-dark{
    cursor: pointer;
}

.ul-responsive{
    display: none;
}

/* ============================================
                ESTILOS GENERICOS
    ===========================================
*/
.width-and-height{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.fa-solid{
    color: var(--color-primary);
    font-size: calc(.7em + .7vw);
}

.bx{
    color: var(--color-primary);
    font-size: calc(.7em + .7vw);
}
/* ============================================
                    PORTADA
    ===========================================
*/
.port{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.photo{
    width: 200px;
    border-radius: 50%;
}

/* ============================================
                    ACERCA DE
    ===========================================
*/


.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

/* ============================================
                    HABILIDADES
    ===========================================
*/

.skills,
.services,
.portafolio{
    text-align: center;
    margin-top: 3rem;
}

.menu-skills{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 6rem;
    margin-top: 5rem;
}

.title-skills{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.fa-solid{
    cursor: pointer;
}

.photo-skills{
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 1rem;
    margin-top: 10px;
}

.frontend,
.backend,
.desing{
    display: none;
}

.active-skills-frontend,
.active-skills-backend,
.active-skills-desing{
    display: flex;
}


.img-skill{
    width: 80px;
    border-radius: 15px;
}

/* ============================================
                    SERVICIOS
    ===========================================
*/

.box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.box-services{
    width: 200px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_services{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.text-services{
    margin-top: 1rem;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: var(--color-primary);
    padding: .5em 2em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: var(--color-primary);
    background-color: #fff;
}

/* ============================================
                    PORTFOLIO
    ===========================================
*/
.slid__container{
    width: 90%;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slider{
    padding: 40px 0;
    background-color: #fff;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__img{
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}


.link_proyect{
    margin-top: 10px;
    text-decoration: none;
    padding: 6px 15px;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: #fff;
}

/* ============================================
                    CONTACTO
    ===========================================
*/

.container__form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.form {
    background-color: #111;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

.title-contact {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: var(--color-primary);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #111;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #fff;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #fff;
}

.input:focus ~ .placeholder {
    color: #fff;
}

.submit {
    padding: 20px 60px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  /* overflow: hidden; */
  transition: 500ms;
  margin-top: 2rem;
}

.submit span {
    color: #fff;
    position: relative;
    transition: 500ms;
    transition-delay: 500ms;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
  
button:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 500ms;
    transition-delay: 500ms;
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary),
     0 0 30px var(--color-primary), 
     0 0 50px var(--color-primary);
}
  
button div {
    transition: 500ms;
    position: absolute;
    background-color: var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary), 0 0 30px var(--color-primary), 0 0 50px var(--color-primary);
}
  
button .top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
}
  
button .bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
}
  
button .left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
}
  
button .right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
}
  
button:hover {
    color: #000;
}
  
button:hover span {
    color: #000;
}
  
button:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
button:hover .top, 
button:hover .bottom {
    width: 100%;
}
  
button:hover .left,
button:hover .right {
    height: 100%;
}

/* ============================================
        BOTON DE DESLIZAR HAVIA ARRIBA
    ===========================================
*/
#button-up{
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 90px;
    right: 15px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,.1);
}


/* ============================================
                    FOOTER
    ===========================================
*/

.footer__contacto{
    width: 100%;
    height: auto;
    background: #111;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.Red__social{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container__contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

.btn{
    width: 70px;
    height: 70px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

i.fa{
    font-size: 35px;
}

i.bx{
    font-size: 45px;
}

#fb{
    color: #006fff;
    text-shadow: 0 0 30px #006fff;
}

#ig{
    color: #ff5f40;
    text-shadow: 0 0 30px #ff5f40;
}

#tw{
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}

#gh{
    color: #df1313;
    text-shadow: 0 0 30px #df1313;
}

#code{
    color: #fff;
}

.btn.fb-btn{
    box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}

.btn.fb-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}

.btn.ig-btn{
    box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}

.btn.ig-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}

.btn.tw-btn{
    box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}

.btn.tw-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}

.btn.gh-btn{
    box-shadow: 0 20px 20px -12px rgba(223, 19, 19, 0.53);
}

.btn.gh-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 20px 20px -17px rgba(223, 19, 19, 0.6);
}

.btn.code-btn{
    box-shadow: 0 20px 20px -12px rgba(255, 255, 255, 0.53);
}

.btn.code-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 20px 20px -17px rgba(255, 255, 255, 0.53);
}

.derechos{
    color: #fff;
    font-size: 15px;
}

.link-autor{
    color: #14a1f0;
    text-decoration: none;
}

/* ============================================
                    MEDIA QUERY
    ===========================================
*/


@media screen and (max-width: 900px) {
    .nav{
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 90%;
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .link-menu{
        display: none;
    }

    .ul{
        display: none;
    }

    .menu{
        width: 100px;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    .responsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 15px;
    }

    .menu-responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #fff;
        display: none;
        transition: transform .8s;
        transform: translateY(100vh);
    }

    .active-menu{
        display: flex;
        transform: translateY(0);
        transition: transform .8s;
    }

    .ul-responsive{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        list-style: none;
        gap: 1rem;
        font-size: calc(.7em + .7vw);
    }

    .ul_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        text-align: center;
    }

    .fa-house,
    .fa-user,
    .fa-file,
    .fa-briefcase,
    .fa-image,
    .bxs-send{
        margin-top: 10px;
    }
    .link-menu-responsive{
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        display: block;
    }

    .port{
        flex-direction: column-reverse;
    }

    .footer__contacto{
        margin-bottom: 8%;
    }
}

@media screen and (max-width:800px) {
    .menu-skills{
        grid-template-columns: auto;
    }

    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .slider__picture{
        grid-row: 1/2;
    }

    .slider__text{
        text-align: center;
    }

    .slider__img{
        width: 100px;
    }

}

@media screen and (max-width: 700px) {
    .footer__contacto{
        margin-bottom: 6%;
    }
}

@media screen and (max-width: 600px) {
    .footer__contacto{
        margin-bottom: 10%;
    }
    
}

@media screen and (max-width: 500px) {
    .footer__contacto{
        margin-bottom: 15%;
    }
    
}

@media screen and (max-width: 350px) {
    .ul-responsive{
        grid-template-columns: auto auto;
    }

    .slid__container{
        grid-template-columns: 25px 1fr 25px;
    }

    .slider__arrow{
        width: 100%;
    }

    .form{
        width: 250px;
    }

    .footer__contacto{
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 300px) {
    .menu-responsive{
        top: 60vh;
    }
    
    .photo{
        width: 150px;
    }
}